<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <link rel="stylesheet" type="text/css" href="../css/html/directories.css"/>
    <title>目录</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app" class="grid">

    <div class="grid-content">
        <div class="grid-content-item" v-for="list in contentList" :id="list.category">
            <p>{{list.category}}</p>
            <div class="flex">
                <div class="box" v-for="el in list.content" :id="el.name" @click="goto(el.url)">
                    <ul>
                        <li class="color-blue font-size-name">{{el.name}}</li>
                        <li class="color-red font-size-desc">{{el.desc}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
<script src="../js/html/directories.js"></script>
</html>